/* CSS declarations go here */
body {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 16px;
}

.container {
  padding-top:1px;
  margin-right:50px;
  min-height: 100%;
  background: white;
}

.rounded {
  border-radius:10px;
  padding-bottom:20px;
  width:auto;
  position:relative;
  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

.track {
  font-size:18px;
  font-weight:bold;
}

.navbar-header {
  background: #d2edf4;
  background-image: linear-gradient(-110deg, #996633, white 100%);
  width:auto;
  padding: 20px 978px 25px 15px;
  position: relative;
  font-weight:bold;
}

.alert-success {
  margin-top:10px;
  padding-right:100px;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
.text1,.slide {
  position:absolute;
  width:700px;
}
.text1 {
  left:0px;
  margin-top:1px;
}
.slide {
  left:200px;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 1200px) {
  .navbar-header {
    padding-right:1150px;
  }
  .rounded {
    width:150%;
    padding-left:10px;
  }

}
@media (max-width:738px) {
    .container {
      margin-right:0px;
    }
    .rounded {
      width:230%;
    }
  }
}
@media (min-width:957px) {
  .navbar-header {
    padding-right:200%;
  }
}